In [6]:
from modules.PuzzlesAPI import PuzzleInput

url = 'https://adventofcode.com/2022/day/2/input'

input_conn = PuzzleInput(url)
soup = input_conn.get_puzzle_input()

In [12]:
input_conn.cookies

{'accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9',
 'accept-encoding': 'gzip, deflate, br',
 'accept-language': 'en-US,en;q=0.9',
 'cookie': 'session=53616c7465645f5fef7d0eb7a70b07ce03e12bee6f9543e2825bd117dadb40d7dae8eadf0721b0e6bdabe015c5371b1863dceadfffd6cc3386ebcf946aa360d8',
 'referer': 'https://adventofcode.com/',
 'user-agent': 'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/106.0.0.0 Safari/537.36'}

In [2]:
import pandas

In [3]:
df = pandas.DataFrame([row.replace("A", "1").replace("B", "2").replace("C", "3").replace("X", "1").replace("Y", "2").replace("Z", "3").split() for row in soup])

In [4]:
df = df.astype(int)

ValueError: invalid literal for int() with base 10: 'Puzzle'

In [ ]:
df[2] = df[0]-df[1]

In [ ]:
df.where((df[2]==-1))

In [ ]:
# df.replace by dictionary:
d = {-1:6, 2:6, 0:3, -2:0, 1:0}
df[2] = df[2].replace(d)

In [ ]:
df[3]=df[2]+df[1]

In [ ]:
# суммирование содержимого колонок, выбираем третий элемент Series
score = df.sum('index')[3]
print(f'score is: {score}')

In [102]:
df

      0  1  2  3
0     3  2  0  2
1     3  2  0  2
2     2  2  3  5
3     1  3  0  3
4     2  3  6  9
...  .. .. .. ..
2495  1  2  6  8
2496  2  3  6  9
2497  2  2  3  5
2498  2  3  6  9
2499  2  1  0  1

[2500 rows x 4 columns]

In [104]:
#### part two ####

In [196]:
from modules.PuzzlesAPI import PuzzleInput

url = 'https://adventofcode.com/2022/day/2/input'

input_conn = PuzzleInput(url)
soup = input_conn.get_puzzle_input()


import pandas
df = pandas.DataFrame([row.replace("A", "1").replace("B", "2").replace("C", "3").replace("X", "0").replace("Y", "3").replace("Z", "6").split() for row in soup])
df = df.astype(int)

In [197]:
## masking dataframe
mask_loose = df[1]==0 
mask_win = df[1]==6
mask_draw = df[1]==3

df[mask_loose]

      0  1
5     1  0
8     1  0
21    2  0
23    2  0
24    1  0
...  .. ..
2483  1  0
2485  1  0
2487  1  0
2488  1  0
2499  2  0

[775 rows x 2 columns]

In [198]:
df

      0  1
0     3  3
1     3  3
2     2  3
3     1  6
4     2  6
...  .. ..
2495  1  3
2496  2  6
2497  2  3
2498  2  6
2499  2  0

[2500 rows x 2 columns]

In [174]:
# loosing algorithm
df[0]%3+1
# winning 
(df[0]+1)%3
# draw algorithm
df[0]

0       3
1       3
2       2
3       1
4       2
       ..
2495    1
2496    2
2497    2
2498    2
2499    2
Name: 0, Length: 2500, dtype: int64

In [214]:
df[3] = df[mask_loose][0]%3+1
df[4] = (df[mask_win][0]+1)%3+1
df[5] = df[mask_draw][0]
df=df.fillna(0)
df[3] += df[4]+df[5]
del df[4]
del df[5]

In [178]:
df.fillna(0)[3] = df.fillna(0)[3]+((df[mask_win][0]+1)%3).fillna(0)

In [216]:
df[4]=df[3]+df[1]

In [200]:
# df[3] += df[mask_loose][0]%3+1

In [218]:
df.sum('index')[4]

12631.0

In [12]:
import subprocess
# This is our shell command, executed by Popen.
p = subprocess.Popen("conda list", stdout=subprocess.PIPE, shell=True)
print(p.communicate()[0].split(b"\n"))

[b'# packages in environment at /root/miniconda3:', b'#', b'# Name                    Version                   Build  Channel', b'_libgcc_mutex             0.1                        main  ', b'_openmp_mutex             4.5                       1_gnu  ', b'brotlipy                  0.7.0           py39h27cfd23_1003  ', b'ca-certificates           2022.3.29            h06a4308_1  ', b'certifi                   2021.10.8        py39h06a4308_2  ', b'cffi                      1.15.0           py39hd667e15_1  ', b'charset-normalizer        2.0.4              pyhd3eb1b0_0  ', b'colorama                  0.4.4              pyhd3eb1b0_0  ', b'conda                     4.12.0           py39h06a4308_0  ', b'conda-content-trust       0.1.1              pyhd3eb1b0_0  ', b'conda-package-handling    1.8.1            py39h7f8727e_0  ', b'cryptography              36.0.0           py39h9ce1e76_0  ', b'idna                      3.3                pyhd3eb1b0_0  ', b'ld_impl_linux-64          2.35.1               h7274673_9  ', b'libffi                    3.3                  he6710b0_2  ', b'libgcc-ng                 9.3.0               h5101ec6_17  ', b'libgomp                   9.3.0               h5101ec6_17  ', b'libstdcxx-ng              9.3.0               hd4cf53a_17  ', b'ncurses                   6.3                  h7f8727e_2  ', b'openssl                   1.1.1n               h7f8727e_0  ', b'pip                       21.2.4           py39h06a4308_0  ', b'pycosat                   0.6.3            py39h27cfd23_0  ', b'pycparser                 2.21               pyhd3eb1b0_0  ', b'pyopenssl                 22.0.0             pyhd3eb1b0_0  ', b'pysocks                   1.7.1            py39h06a4308_0  ', b'python                    3.9.12               h12debd9_0  ', b'readline                  8.1.2                h7f8727e_1  ', b'requests                  2.27.1             pyhd3eb1b0_0  ', b'ruamel_yaml               0.15.100         py39h27cfd23_0  ', b'setuptools                61.2.0           py39h06a4308_0  ', b'six                       1.16.0             pyhd3eb1b0_1  ', b'sqlite                    3.38.2               hc218d9a_0  ', b'tk                        8.6.11               h1ccaba5_0  ', b'tqdm                      4.63.0             pyhd3eb1b0_0  ', b'tzdata                    2022a                hda174b7_0  ', b'urllib3                   1.26.8             pyhd3eb1b0_0  ', b'wheel                     0.37.1             pyhd3eb1b0_0  ', b'xz                        5.2.5                h7b6447c_0  ', b'yaml                      0.2.5                h7b6447c_0  ', b'zlib                      1.2.12               h7f8727e_1  ', b'']

NameError: name 'request' is not defined